html {
    width: 100%;
    height: 100vh;
    font-family: 'Mulish';
    scroll-behavior: smooth;
}

body {
    /* background-color: #FF5722; */
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: flex-end;
}

p {
    margin: 0px;
}

.side-navigation-menu-container {
    width: 29%;
    height: 100%;
    position: fixed;
    left: 0;
    background-color: black;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.side-navigation-menu {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 5%;
}

.side-menu-item {
    color: white;
    padding: 0;
    margin: 0;
}

.side-menu-title {
    margin-bottom: 20px;
}

.side-menu-sub-title {
margin-top: 10px;
margin-bottom: 10px;
color: #BBBBBB;
font-size: 20px;
letter-spacing: normal;
animation-duration: 300ms;
    animation-name: animation-side-menu-sub-title-font-scale-reverse;
}

@keyframes animation-side-menu-sub-title-font-scale-reverse {
    from {
        letter-spacing: 1.5px;
        color: white;
    }
    to {
        letter-spacing: normal;
        color: #BBBBBB;
    }
}

.side-menu-sub-title:hover {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
    letter-spacing: 1.5px;
    animation-duration: 300ms;
    animation-name: animation-side-menu-sub-title-font-scale;
}

@keyframes animation-side-menu-sub-title-font-scale {
    from {
        letter-spacing: normal;
        color: #BBBBBB;
    }
    to {
        letter-spacing: 1.5px;
        color: white;
    }
}

.side-menu-item-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.page-container {
    width: 71%;
    display: flex;
    flex-direction: column;
    background-color: #0E0E0E;
    /* background-color: white; */
}

.details-container {
    height: 100vh;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
}

#home-container {
    display: flex;
    align-items: center;
}

#profile-image-container {
    display: flex; 
    width: 30%; 
    max-width: 30%;
    aspect-ratio: 1; 
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
}

#profile-image-bg-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: white; 
    opacity: 0.1;
}

#profile-image-front-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: black; 
    opacity: 0.1;
}

#profile-image {
    width: 95%; 
    height: 95%;
    aspect-ratio: 1; 
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;

    object-fit: cover;
}

#name-container {
    display: flex; 
    flex-direction: column; 
    margin-left: 5%;
}

#name {
    font-size: 55px; 
    font-weight: 800; 
    font-family: "Montserrat"; 
    color: white;
    margin: 0;
}

#about-me {
    font-family: Montserrat; 
    font-style: italic;
    font-weight: 500;
    color: #ADADAD;
    margin-top: 20px;
}

#about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-me-text-content {
    color: #BBBBBB;
    text-align: center;
    font-size: 25px;
    margin: 5px;

    letter-spacing: normal;
    animation-duration: 300ms;
    animation-name: animation-about-me-text-content-reverse;
}

@keyframes animation-about-me-text-content-reverse {
    from {
        letter-spacing: 1.5px;
        color: white;
    }
    to {
        letter-spacing: normal;
        color: #BBBBBB;
    }
}

.about-me-text-content:hover {
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 5px;

    letter-spacing: 1.5px;
    animation-duration: 300ms;
    animation-name: animation-about-me-text-content;
}

@keyframes animation-about-me-text-content {
    from {
        letter-spacing: normal;
        color: #BBBBBB;
        
    }
    to {
        letter-spacing: 1.5px;
        color: white;
    }
}






#education-details {
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 50px;
}

#work-details {
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 50px;
}

#hobbies {
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 50px;
}

#education-graduation {
    display: flex;
    flex-direction: column;
}

.projects-container {
    display: flex;
    flex-direction: row;
}

.projects-sub-container-right {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}

.main-heading {
    color: #000000CC;
    font-size: 3rem;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
}

.education-sub-heading {
    color: #00000099;
}

.education-description {
    color: #00000099;
    font-weight: 400;
}

.work-details-sub-heading {
    color: #00000099;
}

.work-details-duration {
    color: #00000099;
    font-style: italic;
}

.projects-text {
    font-weight: 400;
}

.hobbies-title {
    color: #00000099;
}

.hobbies-description {
    color: #00000099;
    font-weight: 400;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}