.side-menu-user {

}

.side-menu-user-icon {
    max-height: 4rem;
    border-radius: 16px;
    border: 2px solid white;
}

.side-menu-item {
    border: 1px solid white;
    border-radius: 16px;
    padding: 8px;
}

.side-menu-item-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}