html {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    /* background-color: #FF5722; */
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: flex-end;
}

p {
    margin: 0px;
}

.page-container {
    width: 93%;
    display: flex;
    flex-direction: column;
}

.main-heading {
    color: #000000CC;
    font-size: 3rem;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}